@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0px;
}
body{
    font-family: "Azeret Mono", monospace;

}
.btn-learn{
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    width: 171px;
    height: 47px;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    padding: 12px 20px 12px 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
/* Banner Section starts here */
.banner-container{
    background-image: url(../assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 1440px;
    height: 652px;
}
.banner-content{
    display: flex;
    flex-direction: column;
    justify-content: flex;
    align-items: center;
}
.banner-content img{
    margin-top: 26px;
}
.banner-content h1{
    font-size: 48px;
    font-weight: 800;
    text-align: center;
    margin-top: 32px;
    width: 998px;
    height: 136px;
}
.banner-content p{
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin-top: 24px;
    width: 852px;
    height: 52px;
    opacity: 0.7;
}
.btn-contact{
    border-radius: 8px;
    background-color: rgb(13, 19, 33);
    padding: 21px 24px;
    margin-top: 32px;
    margin-bottom: 44px;
    color: white;
    font-size: 20px;
    font-weight: 600;
}
/* Why Web Dev section starts here */
.webdev-section-container{
    width: 1140px;
    height: 1395px;
    margin: 0 auto;
    margin-top: 74px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
}
.webdev-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.webdev-text h1{
    font-size: 32px;
    font-weight: 800;
    text-align: center;
    width: 852px;
    height: 39px;
    margin-top: 80px;
}
.webdev-text p{
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin-top: 24px;
    width: 852px;
    height: 52px;
    opacity: 0.7;
}
/* card1 section starts*/
.card1{
    width: 946px; 
    height: 336px;
    margin: 0 auto;
    margin-top: 32px;
    padding: 48px;
    display: flex;
    border-radius: 16px;
    background-color: rgb(255, 255, 255);
}
.card1-left-side-content{
    width: 477px;
    height: 219px;
    padding: 0px;
}
.card1-left-side-content h3{
    font-size: 24px;
    font-weight: 700;
    color: rgba(13, 19, 33, 0.7);
    margin-top: 10px;
}
.card1-left-side-content p{
    font-size: 16px;
    font-weight: 400;
    width: 468px;
    height: 52px;
    margin-top: 16px;
    opacity: 0.7;
}
.card1-left-side-content button{
    margin-top: 32px;
    margin-bottom: 10px;
    margin-left: 0px;
}

.card1-right-side-content{
    width: 206px;
    height: 187px;
}

/* card2 section starts*/

.card2{
    width: 946px; 
    height: 336px;
    margin: 0 auto;
    margin-top: 32px;
    padding: 48px;
    display: flex;
    border-radius: 16px;
    background-color: rgb(255, 255, 255);
}
.card2-right-side-content{
    width: 477px;
    height: 219px;
    padding: 0px;
}
.card2-right-side-content h3{
    font-size: 24px;
    font-weight: 700;
    color: rgba(13, 19, 33, 0.7);
    margin-top: 10px;
}
.card2-right-side-content p{
    font-size: 16px;
    font-weight: 400;
    width: 468px;
    height: 52px;
    margin-top: 16px;
    opacity: 0.7;
}
.card2-right-side-content button{
    margin-top: 32px;
    margin-bottom: 10px;
    margin-left: 0px;
}
.card2-left-side-content{
    width: 206px;
    height: 187px;
}

/* Card3 section starts */
.card3{
    width: 946px; 
    height: 336px;
    margin: 0 auto;
    margin-top: 32px;
    padding: 48px;
    display: flex;
    border-radius: 16px;
    background-color: rgb(255, 255, 255);
}
.card3-left-side-content{
    width: 477px;
    height: 219px;
    padding: 0px;
}
.card3-left-side-content h3{
    font-size: 24px;
    font-weight: 700;
    color: rgba(13, 19, 33, 0.7);
    margin-top: 10px;
}
.card3-left-side-content p{
    font-size: 16px;
    font-weight: 400;
    width: 468px;
    height: 52px;
    margin-top: 16px;
    opacity: 0.7;
}
.card3-left-side-content button{
    margin-top: 32px;
    margin-bottom: 10px;
    margin-left: 0px;
}

.card3-right-side-content{
    width: 206px;
    height: 187px;
}
/* Inspiration section starts here */
.inspiration-section-container{
    width: 1140px;
    height: 775px;
    margin-top: 90px;
}
.inspire-text{
    display: flex;
    flex-direction: column;
    justify-content: flex;
    align-items: center;
}
.inspire-text h1{
    width: 852px;
    height: 37px;
    text-align: center;
    font-size: 32px;
    font-weight: 800;
}
.inspire-text p{
    width: 852px;
    height: 52px;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
    margin-top: 24px;
}
.inspire-video{
    width: 1140px;
    height: 614px;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
    margin-top: 48px;
}
.inspire-video iframe{
    width: 1076px;
    height: 550px;
    border-radius: 16px;
    margin: 32px;
}
/* Current target section starts here */
.current-target-container{
    width: 1140px;
    height: 460px;
    border: 2px solid orangered;
    margin-top: 151px;
}
.Current-target-text h1{
    width: 852px;
    height: 37px;
    text-align: center;
    font-size: 32px;
    font-weight: 800;
}
.Current-target-text p{
    width: 852px;
    height: 52px;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
    margin-top: 24px;
}













/* Support section starts here */
.support-section-container{
    width: 1140px;
    height: 313px;
    border: 2px solid purple;
    border-radius: 16px;
    background-image: url(../assets/handshake.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 64px 48px;
}
.support-section-content{
    width: 1044px;
    height: 185px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid red;
}
.support-section-content h1{
    width: 292px;
    height: 36px;
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    color: white;
}
.support-section-content p{
    width: 606px;
    height: 52px;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    color: white;
    opacity: 0.7;
}
